<%- include('./layouts/viewCabecera'); %>

    <div class="container mt-4">
        
        <div class="card border-secondary">

            <div class="card-header">Nuevo Registro</div>
            
            <div class="card-body">
                
                <form action="/usuario/guardarDatosUsuario" method="POST">

                    <div class="mb-3">
                    <label for="user" class="form-label">Nombres</label>
                    <input type="text" class="form-control" id="nombres" name="nombresHTML" tabindex="1">
                    </div>
                    
                    <div class="mb-3">
                    <label for="user" class="form-label">Imagen</label>
                    <input type="text" class="form-control" id="imagen" name="imagenHTML" tabindex="2">
                    </div>
                    
                    <!-- GUARDAR -->
                    <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>

                    <!-- CANCELAR -->
                    <a href="/usuario/mantenedorUsuarios" class="btn btn-secondary">Cancelar</a>
                
                </form>

            </div>
            
        </div>

    </div>
    
<%- include('./layouts/viewPie'); %>